<% layout('layouts/boilerplate') -%>
    <section>
        <%- include('../partials/flash') %>
            <div class="row">
                <h4 class="display-4 bg-light p-3 rounded" style="text-align: center;">Your Wishlist</h4>
                <% if(products.length===0){ %>
                    <p>No products in your wishlist</p>
                    <% }else{ %>
                        <% for(let product of products) {%>
                            <div class="col-lg-3 col-md-6 mb-3">
                                <div class="card shadow-sm mx-auto position-relative" style="width: 20rem;">
                                    <img src="<%=product.imgUrl%>" class="card-img-top" alt="product image"
                                        height="220px">
                                    <span
                                        class="badge rounded-pill bg-light text-dark w-20 position-absolute translate-middle-y"
                                        style="top:41%;left:5%">
                                        <%=product.avgRating%> &star; | <%=product.reviews.length%>


                                    </span>
                                    <div class="card-body">
                                        <h5 class="card-title d-flex justify-content-between align-products-center">
                                            <span>
                                                <%= product.name %>
                                            </span>
                                            <span class="btn like-btn" style="height: 32px; border: none;"
                                                product-id="<%=product._id%>">
                                                <% if(currentUser && currentUser.wishList.includes(product._id)){ %>
                                                    <i class="bi bi-heart-fill"></i>
                                                    <% }else{ %>
                                                        <i class="bi bi-heart"></i>
                                                        <% } %>
                                            </span>
                                        </h5>
                                        <p class="card-text fw-light">
                                            <%= product.desc%>
                                        </p>

                                        <p class="text-muted">
                                            <% if(!product.reviews) {%>
                                                0
                                                <% }else{ %>
                                                    <%=product.reviews.length%>
                                                        <% } %>
                                                            reviews
                                        </p>

                                        <h6 class="card-title"><span
                                                class="fw-lighter fs-6 text-decoration-line-through">Rs.<%=
                                                    product.price %>
                                            </span> Rs.<%=product.discountedPrice%>
                                                <span class="fw-light fs-6 text-warning">(
                                                    <%=product.discount%> %
                                                        OFF )
                                                </span> </h6>
                                        <a href="/products/<%=product._id%>" class="btn btn-sm btn-dark">Buy
                                            Now</a>
                                        <form class="d-inline-block" action="/cart/<%=product._id%>" method="POST">
                                            <button class="btn btn-sm btn-success">Add To
                                                Cart</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <% } %>
            </div>
            <% } %>
    </section>

    <script src="/js/common.js"></script>